<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
        <!-- 제목 -->
        <h2 class="border-bottom py-2" th:text="${postDTO.title}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <!-- 이미지 -->
                <div class="d-flex">
                    <div class="card me-3" style="width: 500px; height: 500px;">
                        <span th:if="${postDTO.itemDTO.quantity == 0}" style="width: 50px; height: 50px;">
                            <img src="../event/soldout.png" style="width: 100%; height: 100%;">
                        </span>
                        <img th:src="@{|/file_path/${postDTO.filePath}|}" alt="상품 이미지 혹은 동영상" style="width: 100%; height: 90%; object-fit: contain;">
                    </div>
                    <div class="d-flex flex-column">
                        <!-- 상품명 -->
                        <span class="mb-2 mt-1" type="text" th:text="'상품명: ' + ${postDTO.itemDTO.itemName}"></span>
                        <!-- 내용 -->
                        <span class="card mb-2 p-3" style="width: 375px; height: 350px;" th:utext="${@commonUtil.markdown(postDTO.content)}"></span>
                        <!-- 가격 -->
                        <span class="mb-2" type="text" th:text="'가격: ' + ${postDTO.itemDTO.price}"></span>
                        <!-- 남은 개수 -->
                        <span class="mb-2" type="text" th:text="'남은 개수: ' + ${postDTO.itemDTO.quantity}"></span>
                        <span th:if="${postDTO.itemDTO.quantity != 0}"><button class="btn btn-sm btn-outline-secondary p-2" onclick="">장바구니 담기</button></span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <div class="badge bg-light text-dark text-start">
                        <div class="d-flex align-items-center">
                            <table>
                                <tr>
                                    <td class="text-start py-2">판매자</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td th:if="${postDTO.nickname != null}" th:text="${postDTO.nickname}"></td>
                                </tr>
                                <tr>
                                    <td class="text-start py-2">등록시간</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td th:text="${#temporals.format(postDTO.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                                </tr>
                                <tr th:if="${postDTO.updateDate != null}">
                                    <td class="text-start py-2">수정시간</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td th:text="${#temporals.format(postDTO.updateDate, 'yyyy-MM-dd HH:mm')}"></td>
                                </tr>
                                <tr>
                                    <td class="text-start py-2">별점</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>
                                        <div id="post-starpoint" class="starpoint" th:data-post-starpoint="${postDTO.starpoint}">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <span th:text="'(' + ${postDTO.starpoint} + '점)'"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <a th:href="@{|/posts/${postDTO.postId}/edit|}" class="btn btn-sm btn-outline-secondary me-1"
                        sec:authorize="isAuthenticated()"
                        th:if="${postDTO.nickname != null and #authentication.getPrincipal().getNickname() == postDTO.nickname}"
                        th:text="수정"></a>
                    <form th:action="@{|/posts/${postDTO.postId}|}" method="post" style="display:inline;" sec:authorize="isAuthenticated()"
                        th:if="${postDTO.nickname != null and #authentication.getPrincipal().getNickname() == postDTO.nickname}">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-sm btn-outline-secondary">삭제</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!-- 답변 반복 시작 -->
        <div class="card" th:each="commentDTO : ${postDTO.commentDTOs}">
            <a th:id="|commentDTO_${commentDTO.commentId}|"></a>
            <div class="card-body">
                <!-- 답변 수정시 재사용 input 평소에는 disable=true이지만 수정할때는 false -->
                <input class="card-text" style="border-width: 0; background-color: white;" th:value="${commentDTO.content}" th:id="'comment-content-' + ${commentDTO.commentId}" disabled>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark text-start">
                        <table>
                            <tr>
                                <td class="text-start py-2">작성자</td>
                                <td>&nbsp;:&nbsp;</td>
                                <td th:text="${commentDTO.nickname}"></td>
                            </tr>
                            <tr>
                                <td class="text-end py-2">등록시간</td>
                                <td>&nbsp;:&nbsp;</td>
                                <td th:text="${#temporals.format(commentDTO.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                            </tr>
                            <tr th:if="${commentDTO.updateDate != null}">
                                <td class="text-end py-2">수정시간</td>
                                <td>&nbsp;:&nbsp;</td>
                                <td th:text="${#temporals.format(commentDTO.updateDate, 'yyyy-MM-dd HH:mm')}"></td>
                            </tr>
                            <tr>
                                <td class="text-start py-2">별점</td>
                                <td>&nbsp;:&nbsp;</td>
                                <td>
                                    <div th:id="'starpoint-' + ${commentDTO.commentId}" class="starpoint" th:data-starpoint="${commentDTO.starpoint}">
                                        <div class="star" data-value="1"></div>
                                        <div class="star" data-value="2"></div>
                                        <div class="star" data-value="3"></div>
                                        <div class="star" data-value="4"></div>
                                        <div class="star" data-value="5"></div>
                                        <span th:text="'(' + ${commentDTO.starpoint} + '점)'"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="d-flex" >
                    <!-- 수정 폼 -->
                    <form class="me-1" th:action="@{|/posts/${commentDTO.postId}/comments/${commentDTO.commentId}|}" method="post" style="display:inline;" sec:authorize="isAuthenticated()">
                        <input type="hidden" name="_method" value="patch" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" th:id="'copy-comment-content-' + ${commentDTO.commentId}" name="content" />

                        <div th:if="${commentDTO.nickname != null and #authentication.getPrincipal().getNickname() == commentDTO.nickname}" >
                            <button type="button" class="btn btn-sm btn-outline-secondary" th:id="'edit-comment-button-' + ${commentDTO.commentId}" th:onclick="'editComment(' + ${commentDTO.commentId} + ')'">수정</button>
                            <button type="submit" class="btn btn-sm btn-outline-secondary d-none" th:id="'save-comment-button-' + ${commentDTO.commentId}" th:onclick="'copyInput(' + ${commentDTO.commentId} + ')'">저장</button>
                            <input type="hidden" th:id="'edit-starpoint-' + ${commentDTO.commentId}" name="starpoint"></input>
                        </div>
                    </form>
                    <!-- 삭제 폼 -->
                    <form th:action="@{|/posts/${commentDTO.postId}/comments/${commentDTO.commentId}|}" method="post" style="display:inline;" sec:authorize="isAuthenticated()">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        
                        <div>
                            <div th:if="${commentDTO.nickname != null and #authentication.getPrincipal().getNickname() == commentDTO.nickname}">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">삭제</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <!-- 답변 반복 끝  -->
        <!-- 답변 작성 -->
        <form th:action="@{|/posts/${postDTO.postId}/comments|}" th:object="${commentDTO}" method="post">
            <!-- 에러 메시지 출력 -->
            <div th:replace="~{valid_errors :: validErrorsFragment}"></div>
            <div id="starpoint" class="starpoint mb-3" sec:authorize="isAuthenticated()">
                <div class="star" data-value="1"></div>
                <div class="star" data-value="2"></div>
                <div class="star" data-value="3"></div>
                <div class="star" data-value="4"></div>
                <div class="star" data-value="5"></div>
            </div>
            <textarea sec:authorize="isAnonymous()" th:field="*{content}" class="form-control" rows="10" disabled></textarea>
            <input type="hidden" name="starpoint" id="comment-starpoint">
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
            <input type="submit" value="후기 등록" class="btn btn-primary my-2">
        </form>
    </div>

    <script layout:fragment="script" type='text/javascript'>
        // 별점 칠하기
        function setRating(starpoint, stars) {
            for (let i = 0; i < stars.length; i++) {
                const starValue = parseInt(stars[i].dataset.value);
                if (starValue <= Math.floor(starpoint)) {
                    stars[i].style.background = 'gold';
                } else if (starValue === Math.ceil(starpoint)) {
                    const percentage = (starpoint % 1) * 100;
                    stars[i].style.background = `linear-gradient(to right, gold ${percentage}%, #d3d3d3 ${percentage}%)`;
                } else {
                    stars[i].style.background = '#d3d3d3';
                }
            }
        }
    
        // 별클릭시 발동하는 리스너 등록
        function initializeStarClick(stars, starpointInput) {
            Array.from(stars).forEach(star => {
                star.addEventListener('click', function(event) {
                    const starValue = parseInt(this.dataset.value);
                    const rect = this.getBoundingClientRect();
                    const clickX = event.clientX - rect.left;
                    const isLeftHalf = clickX < rect.width / 2;
                    const starpoint = starValue - (isLeftHalf ? 0.5 : 0);
    
                    setRating(starpoint, stars);
                    starpointInput.value = starpoint;
                });
            });
        }
    
        // 수정 버튼 클릭
        function editComment(commentId) {
            const commentInput = document.getElementById('comment-content-' + commentId);
            const editButton = document.getElementById('edit-comment-button-' + commentId);
            const saveButton = document.getElementById('save-comment-button-' + commentId);
            const starpointDiv = document.getElementById('starpoint-' + commentId);
            const stars = starpointDiv.getElementsByClassName('star');
            const starpointInput = document.getElementById('edit-starpoint-' + commentId);
    
            if (commentInput.disabled) {
                commentInput.disabled = false;
                editButton.classList.add('d-none');
                saveButton.classList.remove('d-none');
                initializeStarClick(stars, starpointInput);
            }
        }
    
        // 수정 할때 값 복사
        function copyInput(commentId) {
            const commentInput = document.getElementById('comment-content-' + commentId);
            const copyInput = document.getElementById('copy-comment-content-' + commentId);
            const starpointDiv = document.getElementById('starpoint-' + commentId);
            const editStarpoint = document.getElementById('edit-starpoint-' + commentId);
    
            copyInput.value = commentInput.value;
            editStarpoint.value = starpointDiv.dataset.starpoint;
        }
    
        // 페이지 로드시 Post 별점 색칠
        document.addEventListener("DOMContentLoaded", function() {
            const postStarpointElement = document.querySelector('#post-starpoint');
            if (postStarpointElement) {
                const postStarpoint = postStarpointElement.dataset.postStarpoint;
                const stars = postStarpointElement.getElementsByClassName('star');
                
                const totalStars = 5;
                const fullStars = Math.floor(postStarpoint);
                const decimalPart = postStarpoint - fullStars;

                for (let i = 0; i < fullStars; i++) {
                    stars[i].style.background = 'gold';
                }

                // 별점의 별을 퍼센테이지로 채우기
                if (decimalPart > 0) {
                    const partialStar = stars[fullStars];
                    partialStar.style.background = `linear-gradient(to right, gold ${decimalPart * 100}%, #d3d3d3 ${decimalPart * 100}%)`;
                }

                for (let i = fullStars + (decimalPart > 0 ? 1 : 0); i < totalStars; i++) {
                    stars[i].style.background = '#d3d3d3';
                }
            }
        });
        
        // 페이지 로드시 댓글 색칠, 리스너
        document.addEventListener("DOMContentLoaded", function() {
            const starpointElements = document.querySelectorAll('.starpoint');
            const commentDivs = Array.from(starpointElements).filter(element =>
                element.id.startsWith("starpoint-")     // starpoint-로 시작하는 영역 추출 나의 경우엔 Comment영역만 존재
            );

            commentDivs.forEach(starpointElement => {
                const commentId = starpointElement.id.split('-')[1];    // starpoint = [0] commentDTO.commentId = [1]
                const starpoint = parseFloat(starpointElement.getAttribute('data-starpoint')) || 0;
                const stars = starpointElement.getElementsByClassName('star')

                const starpointDiv = document.getElementById('starpoint-' + commentId);
    
                setRating(starpoint, stars) // commnetDTO에 가지고 있던 별점
            });

            const starpointDiv = document.getElementById('starpoint');
            const stars = starpointDiv.getElementsByClassName('star');
            const starpointComment = document.getElementById('comment-starpoint');
            initializeStarClick(stars, starpointComment);

        });
    </script>
</html>