.starpoint{
    display: flex;
    justify-content: left;
    gap: 1px;
}

.star{
    width: 15px;
    height: 15px;
    background-color: #d3d3d3; /* 기본 색 (빈 별) */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); /* 별 모양 */
    transition: background-color 0.3s ease;
}

/* 로그인 */
.form-section {
    flex: 8; /* 좌측 80% */
}

.button-section {
    flex: 2; /* 우측 20% */
}

input.form-control.underline-input {
    border: none; /* 기본 테두리 제거 */
    border-bottom: 1px solid #adddff; /* 밑줄 색상 */
    border-radius: 0;
}

input.form-control.underline-input:focus {
    border-bottom: 1px solid #0095ff; /* 포커스 상태 색상 */
    box-shadow: none; /* 기본 포커스 효과 제거 */
}

/* posts 우측 고정항목 */
.sidebar {
    position: absolute;
    width: 200px; /* 영역의 너비 */
    height: 425px;
    right: 0; /* 컨테이너 오른쪽에 위치 */
    transform: translateY(30%); /* 정확히 세로축 중앙에 정렬 */
    background-color: #f3faff; /* 배경색 */
    border: 1px solid #0095ff; /* 테두리 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
    z-index: 1000; /* 다른 요소 위에 표시되도록 우선순위 설정 */
}

.card-border{
    border-color: #adddff;
}

.card-border:hover{
    border-color: #0095ff;
}

.link{
    color: #0095ff;
}

.link:hover{
    color: #6abffc;
}

.hr-border{
    border-color: #0095ff;
}

.h2-border{
    border-color: #0095ff;
}